h1 {
    color: blue;
}

body {
    margin: 0;
    height: 100vh;
}

nav {
    background-color: red;
    width: 100vw;
}

aside {
    background-color: blue;
    width: 40vw;
}

main {
    background-color: green;
    width: 60vw;
}

